@model GameViewModel;

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 border-right">
      <p>@Model.Name</p>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-sm-4">
          <div class="image-container">
            <img src="@Model.BackgroundImageUrl" class="img-fluid" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex flex-wrap">
          <div class="card" style="width: 30rem; height: 7rem;">
            <div class="card-header">
              Platforms
            </div>
            <ul class="list-group list-group-flush">
              @foreach (var platform in Model.Platforms)
              {
                <a asp-action="GetById" asp-controller="Platform" asp-route-id="@platform.Id" class="list-group-item list-group-item-action">@platform.Name</a>
              }
            </ul>
          </div>

          <div class="card" style="width: 30rem; height: 7rem;"> 
            <div class="card-header">
              Genres
            </div>
            <ul class="list-group list-group-flush">
              @foreach (var genre in Model.Genres)
              {
                <a asp-action="GetById" asp-controller="Genre" asp-route-id="@genre.Id" class="list-group-item list-group-item-action">@genre.Name</a>
              }
            </ul>
          </div>

          <div class="card" style="width: 30rem; height: 7rem;">
            <div class="card-header">
              Developers
            </div>
            <ul class="list-group list-group-flush">
              @foreach (var developer in Model.Developers)
              {
                <a asp-action="GetById" asp-controller="Developer" asp-route-id="@developer.Id" class="list-group-item list-group-item-action">@developer.Name</a>
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


