@model GameWithStatsViewModel;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> UserManager

<div class="flex-column window">

    <div class="stacked">
      <img src="@Model.Game.BackgroundImageUrl" class="media" style="width:100%; aspect-ratio:16/9;" />
      <p>@Model.Game.Name</p>
      @if (User.IsInRole("Admin"))
      {
        <a asp-action="UpdateGame" asp-controller="Game" asp-route-id="@Model.Game.Id" class="btn">Update</a>
        <a asp-action="DeleteGamePost" asp-controller="Game" asp-route-id="@Model.Game.Id" class="btn">Delete</a>
      }
    </div>
      <div class="flex-row justify-content-between px-2 pb-1">
        <div class="card" style="margin-bottom:3rem;">
          <div class="card-header">
            Description
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>@Model.Game.Description</p>
            </blockquote>
          </div>
        </div>
      </div>

      <div id="cardrow" class="flex-row" style="min-height: fit-content;">
        <div class="col">
          <div class="d-flex justify-content-around">
            <div class="card" style="min-width: 29rem;min-height: 4rem;">
              <div class="card-header">
                Platforms
              </div>
              <ul class="list-group list-group-flush">
                @foreach (var platform in Model.Game.Platforms)
                {
                    <a asp-action="GetById" asp-controller="Platform" asp-route-id="@platform.Id" class="list-group-item list-group-item-action">@platform.Name</a>
                }
              </ul>
            </div>

            <div class="card" style="min-width: 29rem; min-height: 4rem;">
              <div class="card-header">
                Genres
              </div>
              <ul class="list-group list-group-flush">
                @foreach (var genre in Model.Game.Genres)
                {
                    <a asp-action="GetById" asp-controller="Genre" asp-route-id="@genre.Id" class="list-group-item list-group-item-action">@genre.Name</a>
                }
              </ul>
            </div>

            <div class="card" style="min-width: 29rem; min-height: 4rem;">
              <div class="card-header">
                Developers
              </div>
              <ul class="list-group list-group-flush">
                @foreach (var developer in Model.Game.Developers)
                {
                    <a asp-action="GetById" asp-controller="Developer" asp-route-id="@developer.Id" class="list-group-item list-group-item-action">@developer.Name</a>
                }
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class style="margin:1rem;">

          <div class="d-flex justify-content-around">
            <div class="card">
              <div class="card-header">
                Release Date
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <p>@Model.Game.ReleaseDate</p>
                </blockquote>
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                Game Website
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <a href="@Model.Game.GameWebsite">@Model.Game.GameWebsite</a>
                </blockquote>
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                Metacritic Rating
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <p>@Model.Game.MetacriticRating</p>
                </blockquote>
              </div>
            </div>
            @if (Model.TopGenres != null && Model.TopGenres.Count != 0)
            {
              <div class="card" style="min-height: 2rem;">
                <div class="card-header">
                  Top in:
                </div>
                <ul class="list-group list-group-flush">
                  @foreach (var genre in Model.TopGenres)
                  {
                    <li class="list-group-item list-group-item-action">
                      <a asp-action="GetById" asp-controller="Developer" asp-route-id="@genre.Id">@genre.Name Genre</a>
                    </li>
                  }
                </ul>
              </div>
            }
          </div>

            <div class="row mt-1">
              <a asp-action="CreateReview" asp-controller="Review" asp-route-id="@Model.Game.Id" class="btn reviewbtn">Review</a>
              @foreach (var review in Model.Game.Reviews)
              {
                @Html.Partial("~/Views/Review/_ReviewCard.cshtml",review);
              }
            </div>
          </div>
        </div>







