@model List<GameViewModel>;

<div class="container">
  <h1 class="text-center display-4 text-gray" style="margin-bottom:10%">All Games</h1>
  <div class="d-flex flex-wrap flex-row justify-content-around">
    @foreach (var game in ViewBag.OnePageOfGames)
    {
      <div class="card" style="width: 25rem; min-height: 26rem;">
        <img class="card-img-top img-fluid" style="max-height: 60%;" src="@game.BackgroundImageUrl" alt="BackgroundImage">
        <div class="card-body">
          <h5 class="card-title">@game.Name</h5>
          <p style="height: 4.5rem" class="card-text truncate">@game.Description</p>
          <a asp-action="GetById" asp-controller="Game" asp-route-id="@game.Id" class="btn btn-primary">Info</a>
        </div>
      </div>
    }
  </div>
  @Html.PagedListPager( (IPagedList)ViewBag.OnePageOfGames, page => Url.Action("Index", new { page }) )
</div>
</div>
